<table class="table">
  <th>Janaury 20- January 27</th>
  <th>Payments</th>
  <th>Finals</th>
  <th>Counts</th>
  <tr>
  <td></td>
    <td>test</td>
    <td>testfinal</td>
    <td>testcount</td>
  </tr><% @clients.each do |x| %>
  <%= x.name %>
<% end %>

</table>
